body{
    margin: 0%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: monospace;
    font-weight: bolder;
    background-color: rgb(95, 95, 95);
}

.testimonial-container{
    width: 500px;
    height: 120px;
    background-color: slateblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    min-width: 400px;
    padding: 70px 20px;
    margin: 5px;
    color: aliceblue;

    position: relative;
}


img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}

.username{
    font-size: 15px;
    text-shadow: 2px 2px 4px black;  
    font-weight: 100;
}